/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* Card Ancestral */
#card-demo-example .card .card-img-top{
	width: 100%;
	min-width: 288px;
	max-width: 718px;
	max-height: 712px;
	margin: 0 auto;
	text-align: center;
	align-self: center;
}

#card-demo-example .card-body .card-title {
	position: absolute;
	left: 40px;
	bottom: 1%;
	width: calc(100% - 80px);
	padding: 6px;
	text-align: center;
	font-size: calc(2rem + 7vw);
	font-weight: bold;
	color: #F4CC70;
	font-family: 'Dancing Script', cursive;
}

#card-demo-example .card-body .card-text {
	text-align: center;
	font-size: calc(0.5rem + 3vw);
	font-weight: bold;
	color: #283046;

}

#vision {
	text-align: center;
}
#vision .card-header {
	padding: 0;
	padding-top: 2%;
}
#vision .card-body {
	padding: auto;
	padding-top: 0;
	padding-bottom: 2%;
}
#vision .card-title{
	text-align: center;
	color: #283046;
}
#vision .card-text {
	text-align: center;
	color: #7367f0;
}

#mision {
	text-align: center;
    color: #7367f0;
}
#mision .card-header {
	padding: 0;
	padding-top: 2%;
}
#mision .card-body {
	padding: auto;
	padding-top: 0;
	padding-bottom: 2%;
}
#mision .card-title{
	text-align: center;
	color: #283046;
}
#mision .card-text {
	text-align: center;
	color: #7367f0;
}
#mision .card-body .card-text .alert{
	width: 90%;
	margin: 0 auto;
	background-color: #283046;
	color: #F4CC70;
}
#mision .card-body .card-text .alert .alert-body .text-primary strong{
	color: #faf8f7;
}

.ecommerce-application .app-ecommerce-details .item-features {
	background-color: #f8f8f8;
    padding-top: 5.357rem;
    padding-bottom: 5.357rem;
}
.ecommerce-application .app-ecommerce-details .item-features svg {
	font-size: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    color: #7367f0;
}

.ecommerce-application .app-ecommerce-details .card .card-body .product .nombre {
    position: absolute;
    top: -31px;
    font-size: calc(2.7rem + 2vw);
    font-weight: bold;
    color: #F4CC70;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#subtitulo {
	margin-top: 30px;
}
#subtitulo .card-body .card-title {
	position: absolute;
	left: 30px;
	bottom: 33%;
	width: calc(100% - 60px);
	padding: 6px;
	text-align: center;
	font-size: calc(1rem + 4vw);
	font-weight: bold;
	color: #283046;
	font-family: 'Dancing Script', cursive;
}

#subtitulo .card-body .card-text {
	text-align: center;
	font-size: calc(0.5rem + 3vw);
	font-weight: bold;
	color: #bababa;
}

.pricing-free-trial {
    height: 16.71rem;
    background-color: rgba(186, 191, 199, 0.12);
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: 7.5rem;
    margin-bottom: 6.3rem;
}
.pricing-free-trial .row {
    margin: 0;
}
.pricing-free-trial .pricing-trial-content {
	padding: 0 1rem;
}
.pricing-free-trial .pricing-trial-content .pricing-trial-img {
    position: relative;
    top: -3.1rem;
}

.ecommerce-application .app-ecommerce-details .card .card-body .product .titulo {
    position: absolute;
    top: -16px;
    font-size: calc(1.9rem + 2vw);
    font-weight: bold;
    color: #F4CC70;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#suscription .card-body .card-title {
	position: absolute;
	left: 30px;
	bottom: -29%;
	width: calc(100% - 60px);
	padding: 6px;
	text-align: center;
	font-size: calc(1rem + 4vw);
	font-weight: bold;
	color: #283046;
	font-family: 'Dancing Script', cursive;
}